.img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
}

.divImg {
  height: 100%;
  position: relative;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  font-size: 45px;
  color: rgb(0, 123, 255);
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  color: rgb(0, 123, 255);
  font-size: 45px;
}

